[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
Flask = "~=2.3.2"
numpy = ">=1.22.0,<1.24.0"

[dev-packages]
pytest = "*"
coverage = "^7.0"

[requires]
python_version = "3.9"
